/* For mobile phones: */
body {
    font-family: "Lucida Sans", Verdana, sans-serif;
    font-size: 10px;
    width: 100%;
    background-color: #364949;
    margin: 0;
    color: #383A3B;
}

.page img {
    width: 80%;
}

a{
    color: #71a914;
}

p{
    height: 100px;
}

h2{
    height: 50px;
}

h3{
    font-size: 1.375em;
}

div{
    overflow: hidden;
}

#query {
    width: 70%;
    border-radius: 5px ;

}

#search {
    margin-left: 5px;
    border-radius: 5px;
    background-color: #cee138;
}

.searchbox {
    padding: 1.0121457489878542510121457489879%;
    background-color: #364949;
    text-align: center;
}

.page {
    padding: 2.0661157024793388429752066115702%;
    text-align: center;
    font-size: 0.7em;
}

.description{
    width: 99%;
    height: 53px;
    overflow: hidden;
    font-size: 1.375em;
}

.pagination {
    padding: 1.0121457489878542510121457489879%;
    text-align: center;
    background-color: #364949;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 2px 4px;
    font-size: 0.7em;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
    background-color: #5fa99a;
    border-radius: 50%;
}

.pagination a.active {
    background-color: #b2d320;
    color: white;
    border: 1px solid #d8ee72;
}

.pagination a:hover:not(.active) {
    background-color: #5fa9ff;
}

.gridcontainer {
    width: 100%;
}

.gridwrapper {
    overflow: hidden;
}

.gridbox {
    margin: 2.0242914979757085020242914979757%;
    float: left;
}

.gridsearch {
    width: 100%;
    text-align: center;
}

.gridpage {
    width: 96%;
    background-color: #E8EFC8;
    padding-bottom: 20px;
}

.gridpagination {
    width: 96%;
    text-align: center;
    background-color: #364949;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 450px;}
}

@keyframes mymoveback {
    from {left: 450px;}
    to {left: 0px;}
}

@media only screen and (min-width: 460px) {
    body {
        font-size: 0.8em;
    }

    .gridpage {
        width: 45.9%;
        height: 450px;
    }

    .pagination a {
        padding: 8px 16px;
        margin: 0 4px;
        font-size: 1em;
    }

    .page img {
        width: 100%;
    }

    @keyframes mymove {
        from {left: 0px;}
        to {left: 460px;}
    }

    @keyframes mymoveback {
        from {left: 460px;}
        to {left: 0px;}
    }
}

@media only screen and (min-width: 720px) {
    body {
        font-size: 0.8em;
    }


    .gridpage {
        width: 29.2%;
        height: 450px;
    }

    .pagination a {
        padding: 8px 16px;
        margin: 0 4px;
        font-size: 1em;
    }

    .page img {
        width: 100%;
    }

    @keyframes mymove {
        from {left: 0px;}
        to {left: 720px;}
    }

    @keyframes mymoveback {
        from {left: 720px;}
        to {left: 0px;}
    }
}

@media only screen and (min-width: 1080px) {
    body {
        font-size: 0.8em;
    }

    .gridpage {
        width: 20.9%;
        height: 450px;
    }

    .pagination a {
        padding: 8px 16px;
        margin: 0 4px;
        font-size: 1em;
    }

    .page img {
        width: 100%;
    }

    @keyframes mymove {
        from {left: 0px;}
        to {left: 1080px;}
    }

    @keyframes mymoveback {
        from {left: 1080px;}
        to {left: 0px;}
    }
}

